.about_block {
    padding: 3rem;
    text-align: center;
    font-family: Bahnschrift;
  }

  h2 {
    font-size: 20px;
  }

  h1 {
    padding: 20px;
  }

  .about_container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
    width: 100%;
    margin: 0 auto;
  }
  
  .about_wrapper {
    position: relative;
    margin: 50px 5px 50px;
  }
  
  .about_items {
    margin-bottom: 24px;
  }

  .cards_items {
    margin-bottom: 0px;
  }

  .about_wrapper > img {
    position: relative;
    width: 600px;
    height: auto;
    max-width: 100%;
    display: visible; 
  }
  
  .info-btns-about-us .btn {
    margin: 10px;
    color: white;
    background-color: #BF3B3B;
    max-width: 150px;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  @media only screen and (min-width: 1024px) {
    .cards_items {
      display: flex;
    }
  }