@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Signika+Negative:wght@300..700&display=swap');


.consulting_wrapper > p {
    text-align: left;
    font-family: Signika Negative, Arial, Helvetica, serif;
    font-size: 19px;
    padding: 5px 5px;
    font-weight: lighter;
    margin-left: 70px;
    margin-right: 70px;
    line-height: 20px;
    box-sizing:border-box;
  }
  
  .consulting_wrapper > h3 {
    text-align: left;
      font-family: Signika Negative, Arial, Helvetica, serif;
    font-size: 20px;
    font-weight: bold;
    padding:0px 5px 5px;
    margin-left: 70px;
    margin-right: 70px;
    display: inline-block;
  }

  .consulting_wrapper > h2 {
    text-align: left;
      font-family: Montserrat, Arial, Helvetica, serif;
    font-size: 25px;
    font-weight: bold;
    padding:0px 5px 5px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 45px;
    display: inline-block;
  }
  
  img {
    position: relative;
    width: 70%;
    height: auto;
    margin-bottom: 5px;
    object-fit: contain;
  }

  /* .info-btns-consulting .btn {
    margin: 10px;
    color: white;
    background-color: #BF3B3B;
    max-width: 150px;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
  } */

  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }

