
.printing_wrapper > p {
    text-align: left;
    font-family: Montserrat, Arial, Helvetica, serif;
    font-size: 14px;
    padding: 5px 5px;
    font-weight: lighter;
    margin-left: 70px;
    margin-right: 70px;
    line-height: 20px;
    box-sizing:border-box;
  }



  
  .printing_wrapper > h3 {
    text-align: left;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding:0px 5px 5px;
    margin-left: 70px;
    margin-right: 70px;
    display: inline-block;
  }

  .printing_wrapper > h2 {
    text-align: left;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding:0px 5px 5px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 45px;
    display: inline-block;
  }

  img {
    position: relative;
    max-width: 700px;
    height: auto;
    margin-bottom: 20px;
    object-fit:contain;
  }

  .list {
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
    
  .info-btns-printing .btn {
    margin: 10px;
    color: white;
    background-color: #BF3B3B;
    max-width: 150px;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }

  img {
    width: 100%;
}